// Node Blog: Viewmode: Search Result // Used on Blog Landing CT
.node--type-blog.node--view-mode-search-result {
  @include clearfix;

  .fields-category {
    font-family: $fontSansSerifMd;
    font-size: rem(13);
    @include line-height(13, 15);
    color: $color-cello;
    @include margin(0 0 20px);
  }

  .field--name-field-teaser-image {
    float: right;
    width: 32.4%;
    @include margin(0 0 10px 20px);

    @include media($bp768) {
      width: 28%;
      margin: 0;
    }
  }

  .group-text {

    @include media($bp768) {
      float: left;
      width: 65%;
    }
  }

  h2.node-title {
    font-size: rem(18);
    @include line-height(18, 22);
    font-family: $fontSansSerifMd;
    @include margin(0 0 20px);

    @include media($bp768) {
      font-size: rem(20);
      @include line-height(20, 24);
    }

    @include media($bp1280) {
      font-size: rem(24);
      @include line-height(24, 28);
      @include margin(0 0 25px);
    }
  }

  .field--name-field-featured-text {
    font-size: rem(14);
    @include line-height(14, 22);

    @include media($bp768) {
      font-size: rem(16);
      @include line-height(16, 22);
    }

    @include media($bp768) {
      @include line-height(16, 24);
    }
  }

  .read-more {
    @extend .cta;
    display: none;
  }
}
