// Node Event: Viewmode: Featured Content // Used on Events Landing CT
.node--type-events.node--view-mode-featured-content {
  @include clearfix;
  @include padding(0 0 20px);
  @include margin(0 0 20px);
  border-bottom: 1px solid $color-gainsboro;

  @include media($bp768) {
    @include padding(0 0 40px);
  }

  .fields-date {
    font-family: $fontSansSerif;
    font-size: rem(13);
    @include line-height(13, 15);
    color: $color-cello;
    font-family: $fontSansSerifMd;
    @include margin(0 0 13px);

    > .field {
      display: inline-block;
    }

    .field--name-field-event-start-time {
      @include margin(0 0 0 8px);

      &:before {
        content: "|";
        font-family: $fontSansSerifLt;
        opacity: .3;
        @include margin(0 10px 0 0);
      }
    }

    .field--name-field-event-end-time {

      &:before {
        content: "-";
        @include margin(0 2px 0 0);
      }
    }
  }

  .field--name-field-image {
    float: right;
    width: 32.4%;
    @include margin(0 0 5px 10px);

    @include media($bp768) {
      float: none;
      width: 53%;
      @include margin(0 0 20px);
    }
  }

  h2.node-title {
    font-size: rem(18);
    @include line-height(18, 22);
    font-family: $fontSansSerifMd;
    @include margin(0 0 20px);

    @include media($bp768) {
      font-size: rem(20);
      @include line-height(20, 24);
    }

    @include media($bp1280) {
      font-size: rem(24);
      @include line-height(24, 28);
    }
  }

  .field--name-field-event-location {
    font-family: $fontSansSerifLt;
    font-size: rem(14);
    line-height: 1.5;
    @include margin(0 0 15px);

    p {
      display: inline;
    }

    &:before {
      content: '';
      display: inline-block;
      background: url('../../images/icon-pin-black.svg') 0 0 no-repeat;
      width: 8px;
      height: 12px;
      @include margin(0 6px 0 0);
    }
  }

  .field--name-field-event-description,
  .field--name-field-featured-text {
    font-size: rem(14);
    @include line-height(14, 22);

    @include media($bp768) {
      font-size: rem(16);
      @include line-height(16, 22);
    }

    @include media($bp768) {
      @include line-height(16, 24);
    }
  }

  .read-more {
    @extend .cta;
    display: none;
  }


  // When the node is the first one.
  .field--name-field-featured-events-x4 > .field__item:first-child & {
    @include padding(0 0 40px);

    @include media($bp768) {
      border-bottom: 0;
    }

    .node-content {
      display: flex;
      flex-direction: column;
    }

    .fields-date {
      order: 2;
      font-size: rem(16);
      @include line-height(16, 18);
      @include margin(0 0 10px);

      @include media($bp768) {
        font-size: rem(18);
        @include line-height(18, 20);
        @include margin(0 0 15px);
      }

      @include media($bp1280) {
        font-size: rem(20);
        @include line-height(20, 20);
      }
    }

    .field--name-field-image {
      order: 1;
      @include margin(0 -6% 27px);
      float: none;
      width: inherit;

      // IE10+ Fix
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 1%;
      }

      @include media($bp580) {
        @include margin(0 -30px 30px);
      }

      @include media($bp768) {
        @include margin(0 0 30px);
      }

      @include media($bp1280) {
        @include margin(0 0 40px);
      }
    }

    h2.node-title {
      order: 3;
      font-size: rem(22);
      @include line-height(22, 26);

      @include media($bp768) {
        font-size: rem(32);
        @include line-height(32, 36);
        @include margin(0 0 30px);
        @include rem(padding-right, 40px);
      }

      @include media($bp1280) {
        font-size: rem(40);
        @include line-height(40, 44);
        @include rem(padding-right, 70px);
      }
    }

    .field--name-field-event-location {
      order: 4;

      @include media($bp768) {
        @include margin(0 0 30px);
        @include rem(padding-right, 40px);
      }

      @include media($bp1280) {
        @include rem(padding-right, 70px);
      }
    }

    .field--name-field-featured-text {
      order: 5;
      @include margin(0 0 26px);

      @include media($bp768) {
        font-size: rem(16);
        @include line-height(16, 28);
        @include margin(0 0 30px);
        @include rem(padding-right, 40px);
      }

      @include media($bp1280) {
        @include margin(0 0 40px);
        @include rem(padding-right, 70px);
      }
    }

    .read-more {
      order: 6;
      display: inline-block;
      width: 192px;
    }
  }

  // When the node is the last one.
  .field--name-field-featured-events-x4 > .field__item:last-child & {
    margin: 0 0 32px;
    border: 0;
  }
}
