<div class="accessibility-message-text">
  Columbia University makes every effort to accommodate individuals with disabilities. If you require disability accommodations to attend an event at Columbia University, please contact the Office of Disability Services at (212) 854-2388 at least ten days in advance of the event.
</div>
