<div class="academic-calendar-container">
  <div class="academic-calender-inner">
    <div class="events-header">
      <h2>Academic Calendar</h2>
      <a href="#REPLACE">See More</a>
    </div>
    <div class="events-container">
      <div class="event">
        <a href="REPLACE">
          <div class="date">
            <span class="month" data-month-abbr="Oct"><span>October</span></span>
            <span class="day">5</span>
          </div>
          <div class="event-info">
            <h3>Precision Medicine: Ethics, Politics and Culture - Dr: James Tabery</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa molestias provident quia! Accusantium adipisci at, autem blanditiis distinctio facere, ipsa itaque natus nemo neque, nobis quo sequi totam voluptatibus.</p>
          </div>
        </a>
      </div>

      <div class="event">
        <a href="REPLACE">
          <div class="date">
            <span class="month" data-month-abbr="Oct"><span>October</span></span>
            <span class="day">5</span>
          </div>
          <div class="event-info">
            <h3>Precision Medicine: Ethics, Politics and Culture - Dr: James Tabery Precision Medicine: Ethics, Politics and Culture - Dr: James Tabery</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa molestias provident quia! Accusantium adipisci at, autem blanditiis distinctio facere, ipsa itaque natus nemo neque, nobis quo sequi totam voluptatibus.</p>
          </div>
        </a>
      </div>

      <div class="event">
        <a href="REPLACE">
          <div class="date">
            <span class="month" data-month-abbr="Oct"><span>October</span></span>
            <span class="day">5</span>
          </div>
          <div class="event-info">
            <h3>Precision Medicine: Ethics, Politics and Culture - Dr: James Tabery</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa molestias provident quia! Accusantium adipisci at, autem blanditiis distinctio facere, ipsa itaque natus nemo neque, nobis quo sequi totam voluptatibus.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
