<div class="additional-content-container">
  <div class="additional-content-inner">

    <div class="additional-content-header">
      <h2>Graduate Life</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse expedita facilis hic ipsa officia officiis saepe voluptate. Adipisci aperiam cumque ducimus, eligendi, est hic maxime, natus ratione saepe suscipit voluptatem.</p>
      <div class="cta"><a href="REPLACE">Learn More</a></div>
    </div>

    <div class="items-container">
      <div class="item">
        <a href="REPLACE">
          <figure>
            <img src="//lorempixel.com/288/162" class="REPLACE">
          </figure>
          <div class="info">
            <h3>Life in New York</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi at atque culpa ex explicabo facilis incidunt iure maxime nesciunt numquam, placeat porro quaerat quod recusandae ullam unde veniam voluptatibus?</p>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="REPLACE">
          <figure>
            <img src="//lorempixel.com/288/162" class="REPLACE">
          </figure>
          <div class="info">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi at atque culpa ex explicabo facilis incidunt iure maxime nesciunt numquam, placeat porro quaerat quod recusandae ullam unde veniam voluptatibus?</p>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="REPLACE">
          <figure>
            <img src="//lorempixel.com/288/162" class="REPLACE">
          </figure>
          <div class="info">
            <h3>placeat porro quaerat</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi at atque culpa ex explicabo facilis incidunt iure maxime nesciunt numquam, placeat porro quaerat quod recusandae ullam unde veniam voluptatibus?</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
