{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <svg version="1.1" id="gsas-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 89.68 27.817" enable-background="new 0 0 89.68 27.817" xml:space="preserve">
    <path id="gsas-logo-path" d="M40.695,21.281c0.095,0,0.383,0,0.383,0.253c0,0.127-0.11,0.222-0.254,0.222
    c-0.101,0-0.19,0.014-0.381,0.046c-0.344,0.064-0.459,0.251-0.49,0.8c-0.032,0.511-0.032,0.994-0.032,1.664v1.8
    c0,0.7-0.008,0.821-0.271,0.976c-1.028,0.546-2.466,0.74-3.47,0.74c-2.233,0-4.04-0.59-5.368-1.75
    c-0.902-0.783-1.955-2.478-1.955-4.674c0-2.297,1.025-4.312,2.742-5.392c1.468-0.914,3.091-1.032,4.34-1.032
    c1.154,0,2.431,0.265,2.485,0.276c0.307,0.073,0.856,0.141,1.28,0.158c0.273,0.026,0.313,0.181,0.313,0.27
    c0,0.064-0.009,0.146-0.021,0.266c-0.032,0.299-0.092,0.854-0.092,2.016c0,0.173,0,0.463-0.27,0.463
    c-0.196,0-0.22-0.212-0.236-0.352c-0.007-0.099-0.053-0.583-0.319-1.009c-0.394-0.598-1.711-1.243-3.67-1.243
    c-1.066,0-2.21,0.125-3.361,1.033c-0.966,0.768-1.543,2.256-1.543,3.983c0,2.169,1.088,3.801,1.665,4.361
    c1.146,1.117,2.534,1.684,4.123,1.684c0.585,0,1.387-0.101,1.769-0.321c0.18-0.096,0.259-0.235,0.259-0.453v-2.731
    c0-1.324-0.09-1.386-0.632-1.534c-0.11-0.028-0.374-0.044-0.513-0.044c-0.144,0-0.253-0.095-0.253-0.222
    c0-0.253,0.288-0.253,0.382-0.253c0.545,0,1.261,0.027,1.605,0.041c0.115,0.004,0.191,0.007,0.211,0.007
    c0.022,0,0.122-0.004,0.263-0.01C39.746,21.304,40.35,21.281,40.695,21.281 M53.124,20.439l-0.45-0.354
    c-1.501-1.173-1.912-1.732-1.912-2.601c0-1.04,0.744-1.738,1.851-1.738c1.326,0,1.771,0.55,1.899,0.786
    c0.085,0.155,0.178,0.573,0.194,0.76c0.016,0.118,0.041,0.317,0.253,0.317c0.236,0,0.236-0.321,0.236-0.494
    c0-0.855,0.04-1.363,0.058-1.58c0.005-0.064,0.008-0.105,0.008-0.123c0-0.158-0.096-0.238-0.285-0.238
    c-0.114,0-0.228-0.012-0.534-0.077c-0.468-0.111-0.951-0.164-1.522-0.164c-2.065,0-3.451,1.213-3.451,3.018
    c0,1.099,0.363,2.13,2.135,3.584l0.722,0.593c1.415,1.169,1.803,1.77,1.803,2.796c0,1-0.746,2.013-2.173,2.013
    c-0.584,0-1.975-0.149-2.256-1.54c-0.046-0.212-0.046-0.427-0.046-0.568c0-0.082,0-0.302-0.236-0.302
    c-0.22,0-0.242,0.25-0.254,0.373L49.146,25.1c-0.023,0.324-0.064,0.865-0.064,1.511c0,0.44,0.014,0.574,0.311,0.723l0.001,0.001
    c0.615,0.3,1.336,0.446,2.207,0.446c0.98,0,1.844-0.241,2.499-0.698c1.045-0.743,1.418-1.917,1.418-2.77
    C55.517,23.054,55.125,22.016,53.124,20.439 M75.132,27.31c0.264,0,0.303,0.141,0.303,0.225c0,0.118-0.078,0.259-0.448,0.259
    c-0.917,0-1.817-0.011-2.537-0.032l-0.076-0.005c-0.308-0.015-0.528-0.026-0.528-0.237c0-0.056,0.02-0.19,0.205-0.238
    c0,0,0.016-0.008,0.029-0.037c0.015-0.031,0.031-0.104-0.018-0.236l-1.5-4.026c-0.006-0.011-0.011-0.018-0.012-0.018h-3.483
    c-0.013,0-0.024,0-0.045,0.053l-0.966,2.891c-0.142,0.401-0.219,0.775-0.219,1.056c0,0.274,0.298,0.348,0.456,0.348h0.145
    c0.223,0,0.335,0.076,0.335,0.225c0,0.078-0.04,0.259-0.416,0.259c-0.233,0-0.559-0.017-0.819-0.031
    c-0.175-0.01-0.319-0.018-0.39-0.018c-0.057,0-0.188,0.005-0.366,0.012c-0.377,0.016-0.943,0.037-1.458,0.037
    c-0.117,0-0.431,0-0.431-0.259c0-0.084,0.046-0.225,0.352-0.225c0.105,0,0.246-0.017,0.37-0.032
    c0.646-0.085,0.949-0.598,1.254-1.456l3.661-10.166c0.191-0.535,0.275-0.722,0.473-0.722s0.287,0.184,0.472,0.67
    c0.071,0.182,0.336,0.885,0.702,1.854c0.882,2.339,2.36,6.255,3.056,8.018c0.541,1.357,0.964,1.642,1.306,1.742
    C74.794,27.304,75.057,27.31,75.132,27.31 M70.25,22.121l-1.512-4.365c-0.001-0.003-0.002-0.006-0.002-0.008
    c-0.001,0.002-0.002,0.004-0.003,0.006l-1.401,4.367H70.25z M70.33,22.121h-0.005v0.127L70.33,22.121z M86.849,20.438l-0.45-0.354
    c-1.501-1.173-1.912-1.732-1.912-2.602c0-1.04,0.744-1.737,1.852-1.737c1.325,0,1.77,0.55,1.898,0.786
    c0.085,0.155,0.178,0.573,0.194,0.76c0.016,0.118,0.041,0.316,0.253,0.316c0.236,0,0.236-0.32,0.236-0.493
    c0-0.855,0.04-1.363,0.058-1.58c0.005-0.064,0.008-0.105,0.008-0.123c0-0.158-0.096-0.238-0.285-0.238
    c-0.114,0-0.228-0.012-0.534-0.077c-0.468-0.112-0.951-0.164-1.522-0.164c-2.065,0-3.451,1.213-3.451,3.018
    c0,1.099,0.363,2.13,2.135,3.584l0.722,0.593c1.415,1.169,1.803,1.77,1.803,2.796c0,1-0.746,2.013-2.173,2.013
    c-0.584,0-1.975-0.149-2.256-1.54c-0.046-0.212-0.046-0.427-0.046-0.568c0-0.082,0-0.303-0.236-0.303
    c-0.219,0-0.242,0.25-0.254,0.374l-0.016,0.201c-0.023,0.324-0.064,0.865-0.064,1.51c0,0.441,0.014,0.575,0.311,0.724l0.001,0.001
    c0.615,0.3,1.336,0.446,2.207,0.446c0.98,0,1.844-0.241,2.499-0.698c1.045-0.743,1.418-1.917,1.418-2.77
    C89.243,23.053,88.851,22.015,86.849,20.438 M89.458,9.954c0.206,0,0.222,0.14,0.222,0.183c0,0.061-0.032,0.203-0.318,0.203
    c-0.55,0-1.091-0.007-1.522-0.021l-0.046-0.002c-0.189-0.009-0.368-0.018-0.368-0.19c0-0.044,0.015-0.15,0.162-0.189
    c-0.002,0.004,0-0.025-0.027-0.099l-0.893-2.386h-2.061l-0.558,1.725c-0.082,0.231-0.129,0.454-0.129,0.616
    c0,0.13,0.179,0.16,0.241,0.16h0.098c0.211,0,0.221,0.152,0.221,0.183c0,0.048-0.019,0.203-0.269,0.203
    c-0.143,0-0.35-0.01-0.517-0.018c-0.106-0.006-0.197-0.011-0.238-0.011c-0.034,0-0.113,0.003-0.221,0.008
    c-0.224,0.008-0.567,0.021-0.876,0.021c-0.204,0-0.308-0.068-0.308-0.203c0-0.088,0.066-0.183,0.212-0.183
    c0.063,0,0.191-0.009,0.267-0.019c0.361-0.047,0.533-0.343,0.71-0.838l0.001-0.001l2.197-6.076c0.116-0.321,0.173-0.463,0.331-0.463
    s0.222,0.148,0.33,0.432c0.039,0.101,0.183,0.48,0.381,1.006c0.541,1.426,1.445,3.814,1.873,4.892
    c0.361,0.901,0.636,0.98,0.751,1.013C89.212,9.936,89.329,9.954,89.458,9.954 M86.45,6.852l-0.839-2.408l-0.776,2.408H86.45z
    M81.14,9.954c-0.075,0-0.283-0.018-0.42-0.039c-0.178-0.023-0.237-0.118-0.27-0.427c-0.047-0.405-0.047-1.195-0.047-2.11V5.654
    c0-1.522,0-1.796,0.02-2.106c0.019-0.341,0.094-0.412,0.254-0.442c0.105-0.018,0.158-0.027,0.221-0.027
    C81.013,3.08,81.1,3,81.1,2.895c0-0.091-0.049-0.201-0.279-0.201c-0.208,0-0.579,0.014-0.793,0.022
    c-0.083,0.004-0.142,0.006-0.156,0.006c-0.013,0-0.069-0.002-0.151-0.005c-0.216-0.009-0.596-0.023-0.825-0.023
    c-0.232,0-0.28,0.11-0.28,0.201c0,0.105,0.087,0.185,0.202,0.185c0.052,0,0.169,0.007,0.272,0.034
    c0.102,0.024,0.212,0.079,0.232,0.436c0.02,0.309,0.02,0.583,0.02,2.105v1.723c0,0.915,0,1.705-0.048,2.107
    c-0.042,0.304-0.088,0.413-0.186,0.432c-0.093,0.023-0.196,0.037-0.262,0.037c-0.135,0-0.203,0.092-0.203,0.184
    c0,0.075,0.036,0.203,0.281,0.203c0.205,0,0.572-0.015,0.787-0.023c0.086-0.004,0.146-0.006,0.16-0.006
    c0.012,0,0.051,0.001,0.111,0.004c0.211,0.008,0.668,0.025,1.08,0.025c0.259,0,0.279-0.156,0.279-0.203
    C81.342,10.045,81.273,9.954,81.14,9.954 M75.088,5.994c0.657,0.265,1.577,0.942,1.577,2.118c0,1.121-0.892,2.257-2.595,2.257
    c-0.143,0-0.59-0.024-0.917-0.041c-0.19-0.01-0.342-0.018-0.371-0.018c-0.013,0-0.071,0.002-0.155,0.006
    c-0.215,0.009-0.584,0.024-0.792,0.024c-0.244,0-0.28-0.127-0.28-0.203c0-0.091,0.069-0.184,0.203-0.184
    c0.065,0,0.169-0.014,0.261-0.036c0.099-0.02,0.144-0.128,0.185-0.432c0.05-0.402,0.05-1.193,0.05-2.108V5.655
    c0-1.522,0-1.797-0.021-2.106c-0.019-0.309-0.079-0.392-0.317-0.444c-0.062-0.015-0.209-0.026-0.304-0.026
    c-0.113,0-0.203-0.081-0.203-0.184c0-0.092,0.05-0.202,0.281-0.202c0.329,0,0.756,0.016,0.969,0.024
    c0.068,0.003,0.113,0.005,0.124,0.005c0.097,0,0.217-0.005,0.357-0.011c0.199-0.008,0.436-0.018,0.698-0.018
    c1.627,0,2.062,1.001,2.062,1.593C75.9,5.057,75.507,5.545,75.088,5.994 M73.276,5.862c0.062,0.009,0.227,0.031,0.534,0.031
    c0.542,0,0.623-0.022,0.787-0.212c0.202-0.232,0.318-0.562,0.318-0.907c0-0.753-0.311-1.558-1.184-1.558
    c-0.119,0-0.305,0.011-0.433,0.045c-0.01,0.002-0.019,0.004-0.023,0.006V5.862z M73.276,6.349V6.347l-0.125,0.002H73.276z
    M74.342,9.807c0.127,0,1.241-0.036,1.241-1.266c0-0.373-0.086-1.298-0.887-1.854c-0.303-0.208-0.519-0.234-0.748-0.263
    c-0.054-0.008-0.213-0.017-0.673-0.018v0.501c0,0.734,0,1.963,0.008,2.107l0.002,0.039c0.029,0.459,0.038,0.513,0.259,0.62
    C73.807,9.801,74.255,9.807,74.342,9.807 M33.459,10.477c0.588,0,1.367-0.062,1.795-0.235c0.205-0.091,0.25-0.141,0.32-0.363
    c0.103-0.348,0.217-1.209,0.217-1.288c0-0.258-0.159-0.271-0.191-0.271c-0.176,0-0.205,0.168-0.219,0.25
    c-0.026,0.157-0.145,0.565-0.326,0.757c-0.383,0.396-0.993,0.451-1.596,0.451c-2.11,0-3.371-1.758-3.371-3.458
    c0-0.818,0.099-1.75,0.834-2.464c0.466-0.457,1.167-0.679,2.141-0.679c0.856,0,1.562,0.274,1.856,0.528
    c0.217,0.186,0.362,0.548,0.362,0.902c0,0.108,0,0.331,0.202,0.331c0.191,0,0.205-0.218,0.212-0.322
    c0.004-0.062,0.007-0.195,0.009-0.352c0.004-0.212,0.009-0.47,0.021-0.657c0.01-0.212,0.026-0.338,0.036-0.421
    c0.007-0.059,0.011-0.1,0.011-0.134c0-0.095-0.041-0.212-0.242-0.232c-0.289-0.018-0.584-0.072-0.925-0.135l-0.047-0.009
    c-0.579-0.107-1.192-0.119-1.428-0.119c-1.326,0-2.321,0.354-3.043,1.082c-0.824,0.835-1.118,1.973-1.118,2.76
    c0,1.255,0.407,2.261,1.211,2.988C30.996,10.13,32.039,10.477,33.459,10.477 M59.157,2.693c-0.198,0-0.472,0.013-0.648,0.021
    c-0.082,0.004-0.144,0.007-0.165,0.007c-0.016,0-0.063-0.002-0.133-0.005c-0.2-0.008-0.573-0.023-0.893-0.023
    c-0.231,0-0.28,0.11-0.28,0.202c0,0.105,0.087,0.184,0.202,0.184c0.095,0,0.242,0.011,0.303,0.026
    c0.242,0.052,0.302,0.134,0.318,0.444c0.02,0.309,0.02,0.583,0.02,2.105v1.224c0,1.157-0.161,1.852-0.534,2.319
    c-0.337,0.406-0.882,0.658-1.423,0.658c-0.538,0-0.935-0.082-1.377-0.501c-0.34-0.329-0.688-0.864-0.688-2.329V5.654
    c0-1.522,0-1.796,0.019-2.106c0.02-0.348,0.093-0.417,0.255-0.442c0.105-0.017,0.159-0.027,0.22-0.027
    c0.116,0,0.202-0.079,0.202-0.184c0-0.092-0.048-0.202-0.278-0.202c-0.189,0-0.501,0.012-0.722,0.021
    c-0.117,0.004-0.207,0.007-0.236,0.007c-0.026,0-0.1-0.003-0.201-0.006c-0.232-0.008-0.609-0.022-0.912-0.022
    c-0.232,0-0.28,0.11-0.28,0.202c0,0.105,0.086,0.184,0.203,0.184c0.093,0,0.239,0.01,0.302,0.026c0.241,0.051,0.3,0.134,0.319,0.443
    c0.018,0.31,0.018,0.584,0.018,2.106v1.429c0,1.252,0.272,2.074,0.882,2.665c0.664,0.633,1.589,0.728,2.08,0.728
    c0.532,0,1.324-0.078,2.08-0.756c0.826-0.742,0.932-2.003,0.932-3.019V5.654c0-1.522,0-1.796,0.019-2.106
    c0.02-0.34,0.094-0.412,0.264-0.443c0.103-0.026,0.148-0.026,0.213-0.026c0.112,0,0.201-0.081,0.201-0.184
    C59.436,2.803,59.387,2.693,59.157,2.693 M51.076,10.013c0.077-0.289,0.146-0.88,0.146-1.009c0-0.075,0-0.273-0.182-0.273
    c-0.069,0-0.188,0.031-0.209,0.232c-0.028,0.178-0.123,0.4-0.226,0.528c-0.188,0.23-0.55,0.248-1.076,0.248
    c-0.742,0-0.956-0.069-1.074-0.188c-0.162-0.165-0.176-1.112-0.176-2.153V5.655c0-1.522,0-1.796,0.02-2.106
    c0.019-0.338,0.088-0.41,0.273-0.442c0.109-0.019,0.239-0.027,0.298-0.027c0.115,0,0.202-0.08,0.202-0.185
    c0-0.091-0.048-0.201-0.278-0.201c-0.209,0-0.629,0.014-0.87,0.022c-0.096,0.004-0.162,0.006-0.176,0.006
    c-0.012,0-0.059-0.002-0.128-0.004c-0.215-0.008-0.639-0.024-0.967-0.024c-0.23,0-0.279,0.11-0.279,0.201
    c0,0.104,0.089,0.185,0.202,0.185c0.095,0,0.24,0.01,0.304,0.026c0.24,0.052,0.299,0.134,0.317,0.443
    c0.019,0.31,0.019,0.584,0.019,2.106v1.723c0,0.915,0,1.705-0.047,2.108c-0.04,0.299-0.087,0.412-0.186,0.431
    c-0.094,0.023-0.195,0.037-0.263,0.037c-0.132,0-0.202,0.092-0.202,0.184c0,0.075,0.036,0.203,0.281,0.203
    c0.189,0,0.497-0.013,0.714-0.022c0.116-0.005,0.205-0.009,0.234-0.009c0.217,0,0.444,0.009,0.723,0.02
    c0.453,0.017,1.016,0.039,1.872,0.039C50.848,10.369,50.976,10.335,51.076,10.013 M62.508,9.954c-0.058,0-0.191-0.01-0.344-0.047
    c-0.087-0.017-0.151-0.094-0.151-0.18c0-0.163,0-0.335,0.011-0.488l0.352-4.128c0.333,0.74,1.034,2.259,1.114,2.423
    c0.015,0.025,0.081,0.162,0.18,0.358c0.269,0.545,0.771,1.558,0.956,1.913l0.023,0.045c0.194,0.37,0.247,0.47,0.387,0.47
    c0.158,0,0.206-0.105,0.368-0.45l2.269-4.86l0.427,4.644c0.013,0.113,0.009,0.193,0.003,0.233c-0.099,0.045-0.111,0.133-0.111,0.173
    c0,0.189,0.225,0.207,0.387,0.22c0.357,0.03,1.395,0.061,1.626,0.061c0.241,0,0.329-0.111,0.329-0.214
    c0-0.028-0.011-0.173-0.202-0.173c-0.091,0-0.33,0-0.593-0.082c-0.321-0.105-0.394-0.536-0.437-0.931l-0.648-6.008
    c-0.012-0.132-0.036-0.376-0.239-0.376c-0.157,0-0.225,0.15-0.258,0.229l-2.736,5.904l-2.85-5.913
    c-0.03-0.072-0.097-0.22-0.258-0.22c-0.18,0-0.218,0.209-0.231,0.287l-0.696,6.381L61.18,9.256
    c-0.039,0.392-0.078,0.633-0.282,0.671c-0.134,0.026-0.192,0.026-0.267,0.026c-0.129,0-0.224,0.073-0.224,0.173
    c0,0.064,0.029,0.214,0.29,0.214c0.168,0,0.418-0.012,0.602-0.02c0.102-0.005,0.182-0.009,0.213-0.009
    c0.022,0,0.084,0.003,0.167,0.007c0.187,0.008,0.485,0.022,0.731,0.022c0.248,0,0.301-0.116,0.301-0.214S62.625,9.954,62.508,9.954
    M41.045,2.557c2.35,0,3.93,1.524,3.93,3.793c0,2.391-1.678,4.127-3.989,4.127c-2.668,0-3.883-2.058-3.883-3.97
    C37.104,4.98,38.174,2.557,41.045,2.557 M41.249,9.855c0.426,0,2.549-0.156,2.549-3.231c0-2.395-1.462-3.486-2.82-3.486
    c-1.693,0-2.705,1.157-2.705,3.095C38.272,8.366,39.496,9.855,41.249,9.855 M18.798,4.931c2.34,0,4.236,1.922,4.236,4.281
    c0,2.363-1.896,4.285-4.236,4.285h-0.275h-0.53h-3.735h-0.3h-1.486v2.239h1.698h0.53h7.067v0.374v0.552v0.236v2.492
    c-0.544-1.207-1.342-1.988-2.24-2.041h-3.981H14.7h-0.53h-1.698v1.547h1.698h0.53h3.329v0.375v0.551v0.237v2.492
    c-0.541-1.208-1.338-1.987-2.238-2.044H14.7h-0.53h-1.698v5.048c0.056,0.909,0.827,1.718,2.024,2.262h-2.704h-0.543H8.541
    c1.228-0.561,2.012-1.398,2.026-2.334v-0.009v-0.038c0-0.012,0-0.02-0.002-0.028c0-0.007,0-0.016-0.003-0.022h0.003v-2.994h0.002
    v-1.884H9.271H8.785H8.251H7.243c-0.897,0.057-1.696,0.836-2.24,2.044v-2.492v-0.237v-0.551v-0.375h3.248h0.534h1.782v-1.547H8.785
    H8.251H7.485H3.504c-0.895,0.053-1.696,0.834-2.235,2.041v-2.492v-0.236V16.11v-0.374h6.982h0.534h1.782v-2.239H8.639H7.944H6.973
    H5.216H5.194H4.687H4.238C1.9,13.497,0,11.575,0,9.212c0-2.359,1.9-4.281,4.238-4.281h0.449h0.529h0.416
    c0.382-0.537,1.164-1.355,2.325-2.436c2.152-2.002,2.793-2.279,3.003-2.37c0.158-0.067,0.306-0.107,0.45-0.12L11.526,0h0.017
    c0.013,0,0.031,0,0.051,0.003c0.15,0.009,0.308,0.049,0.474,0.119c0.212,0.094,0.851,0.368,3.006,2.369
    c1.162,1.085,1.944,1.903,2.325,2.44h0.594h0.53H18.798 M10.229,12.334L8.098,9.577l0.003-0.002L5.409,6.093H5.216H4.687H4.238
    c-1.704,0-3.088,1.4-3.088,3.119c0,1.721,1.384,3.122,3.088,3.122h0.449h0.507h0.022h1.757h0.971h0.695H10.229z M15.929,6.093
    l0.387-0.502c-0.019-0.055-0.049-0.116-0.08-0.179c-0.09-0.128-0.22-0.293-0.386-0.481c-0.405-0.464-1.032-1.095-1.831-1.84
    c-1.522-1.414-2.22-1.899-2.501-2.063c-0.297,0.168-0.99,0.657-2.504,2.063c-0.803,0.746-1.427,1.376-1.835,1.84
    C7.016,5.119,6.884,5.284,6.796,5.412C6.765,5.475,6.737,5.535,6.718,5.588l0.387,0.505l3.937,5.096l0.191,0.251l0.1,0.126v-0.001
    l0.184,0.235l0.182-0.235l0.037-0.045l0.253-0.331L15.929,6.093z M18.798,12.334c1.702,0,3.087-1.401,3.087-3.122
    c0-1.719-1.385-3.119-3.087-3.119h-0.275h-0.53h-0.367l-0.102,0.134l-4.721,6.107h1.155h0.3h3.735h0.53H18.798"/>
    </svg>
  </a>
  {% endif %}
{% endblock %}
