<div class="faces-and-facets-container">
  <h2>Faces &amp; Facets</h2>

  <div class="swiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(//lorempixel.com/1280/420/food)"></div>
        <div class="swiper-slide" style="background-image: url(//lorempixel.com/1280/420/sports)"></div>
        <div class="swiper-slide" style="background-image: url(//lorempixel.com/1280/420/cats)"></div>
      </div>

    </div>

    <div class="content-container">
      <div class="content-container-inner">
        <div class="swiper-content-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <span class="name">Benjamin VanWagonver</span>
              <span class="title">Ph.D. candidate in English and Comparative Literature </span>
            </div>
            <div class="swiper-slide">
              <p>Accusantium aliquam aut error facere, nihil non obcaecati odit reprehenderit similique voluptatem.</p>
              a<span class="name">Joe Bob</span>
              <span class="title">Ph.D. of stuff</span>
            </div>
            <div class="swiper-slide">
              <p>Autem delectus doloremque eaque ex necessitatibus quibusdam quod sint, voluptatibus.</p>
              <span class="name">Jane Person</span>
              <span class="title">Professional Student</span>
            </div>
          </div>
          <div class="swiper-buttons-container">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
