<div class="feature-set">
  <div class="item featured">
    <div class="text">
      <div class="kicker">News</div>
      <h3><a href="REPLACE">A GSAS Student Wins Rome Prize Fellowship Once More</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit suscipit aliquet. Vivamus faucius vel purus vel malesuada. Vivamus gravida.</p>
      <div class="cta"><a href="REPLACE">Read More</a></div>
    </div>

    <figure>
      <img src="/themes/custom/gsas/images/fpo/inside-gsas_01.jpg" alt="">
    </figure>
  </div>

  <div class="item">

    <div class="text">
      <div class="kicker">Professional Development</div>
      <h3><a href="REPLACE">Of professional interest – 3/21/2016</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit suscipit aliquet. Vivamus faucius vel purus vel malesuada. Vivamus gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit suscipit aliquet. Vivamus faucius vel purus vel malesuada. Vivamus gravida.</p>
      <div class="cta"><a href="REPLACE">Read More</a></div>
    </div>

    <figure>
      <img src="/themes/custom/gsas/images/fpo/inside-gsas_02.jpg" alt="">
    </figure>
  </div>

  <div class="item">
    <div class="text">
      <div class="kicker">Academic Calendar</div>
      <h3><a href="REPLACE">Upcoming Application Deadlines for External Fellowships</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit suscipit aliquet. Vivamus faucius vel purus vel malesuada. Vivamus gravida.</p>
      <div class="cta"><a href="REPLACE">Read More</a></div>
    </div>

    <figure>
      <img src="/themes/custom/gsas/images/fpo/inside-gsas_03.jpg" alt="">
    </figure>

  </div>
</div>
