<div class="feature-highlight" style="background-image: url('/themes/custom/gsas/images/fpo/highlighted_content_01.jpg')">
  <div class="layout">
    <div class="text">
      <h2>Degree Programs</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit suscipit aliquet. Vivamus faucibus vel purus vel malesuada.</p>
      <div class="cta"><a href="REPLACE">Learn More</a></div>
    </div>
    <figure>
      <img src="/themes/custom/gsas/images/fpo/highlighted_content_01.jpg" alt="">
    </figure>
  </div>
</div>

<div class="feature-highlight alt" style="background-image: url('/themes/custom/gsas/images/fpo/highlighted_content_02.jpg')">
  <div class="layout">
    <div class="text">
      <h2>Graduate Guide</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit suscipit aliquet. Vivamus faucibus vel purus vel malesuada.</p>
      <div class="cta"><a href="REPLACE">Learn More</a></div>
    </div>
    <figure>
      <img src="/themes/custom/gsas/images/fpo/highlighted_content_02.jpg" alt="">
    </figure>
  </div>
</div>
