<div class="twitter-module-container" style="background-image: url(/themes/custom/gsas/images/fpo/fpo-twitter-bg.jpg);">
  <div class="twitter-module-inner">
    <div class="content-container">
      <div class="content-container-inner">
        <div class="swiper-content-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide tweet">
              <span class="twitter-logo"><a href="REPLACE" class="icon-twitter"></a></span>
              <span class="twitter-id">@Columbia GSAS</span>
              <p>Accusamus dolore est incidunt ipsa minus necessitatibus numquam quae quasi temporibus voluptatibus?</p>
              <span class="tweet-time">10:25am - September 29</span>
            </div>
            <div class="swiper-slide tweet">
              <span class="twitter-logo"><a href="REPLACE" class="icon-twitter"></a></span>
              <span class="twitter-id">@Columbia GSAS</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <span class="tweet-time">10:25am - September 29</span>
            </div>
          </div>
          <div class="swiper-buttons-container">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
