<div class="upcoming-events-container">
  <div class="events-header">
    <h2>Upcoming Events</h2>
    <div class="all-link"><a href="#REPLACE">See More</a></div>
  </div>
  <div class="events-container">
    <div class="item">
      <a href="REPLACE">
        <div class="date">
          <span class="month" data-month-abbr="Oct"><span>October</span></span>
          <span class="day">5</span>
        </div>
        <div class="event-info">
          <h3>Precision Medicine: Ethics, Politics and Culture - Dr: James Tabery</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa molestias provident quia! Accusantium adipisci at, autem blanditiis distinctio facere, ipsa itaque natus nemo neque, nobis quo sequi totam voluptatibus.</p>
        </div>
      </a>
    </div>

    <div class="item">
      <a href="REPLACE">
        <div class="date">
          <span class="month" data-month-abbr="Oct"><span>October</span></span>
          <span class="day">5</span>
        </div>
        <div class="event-info">
          <h3>Precision Medicine: Ethics, Politics and Culture - Dr: James Tabery Precision Medicine: Ethics, Politics and Culture - Dr: James Tabery</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa molestias provident quia! Accusantium adipisci at, autem blanditiis distinctio facere, ipsa itaque natus nemo neque, nobis quo sequi totam voluptatibus.</p>
        </div>
      </a>
    </div>

    <div class="item">
      <a href="REPLACE">
        <div class="date">
          <span class="month" data-month-abbr="Oct"><span>October</span></span>
          <span class="day">5</span>
        </div>
        <div class="event-info">
          <h3>Precision Medicine: Ethics, Politics and Culture - Dr: James Tabery</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa molestias provident quia! Accusantium adipisci at, autem blanditiis distinctio facere, ipsa itaque natus nemo neque, nobis quo sequi totam voluptatibus.</p>
        </div>
      </a>
    </div>
  </div>
</div>
