// http://www.color-blindness.com/color-name-hue/
// http://chir.ag/projects/name-that-color


// greyscale
$color-white: #FFFFFF;
$color-white-smoke: #ECECEC;
$color-light-gray: #D4D4D4;
$color-dark-gray: #B3B3B3;
$color-nobel: #999999;
$color-dim-gray: #666666;
$color-night-rider: #333333;
$color-black: #000000;
$color-empress: #767676;
$color-zircon: #E1E4E7;
$color-gainsboro: #E5E5E5;
$color-porcelain: #EFF1F2;

// reds
$color-cardinal: #C62437;

// blues
$color-allports: #174785;
$color-cello: #394C5C;
$color-fiord: #495A69;
