$fontSansSerif: "Helvetica Neue Roman", Helvetica, Arial, Verdana, sans-serif;
$fontSansSerifLt: "Helvetica Neue Lte", Helvetica, Arial, Verdana, sans-serif;
$fontSansSerifMd: "Helvetica Neue Md", Helvetica, Arial, Verdana, sans-serif;
$fontSansSerifBld: "Helvetica Neue Bld", Helvetica, Arial, Verdana, sans-serif;
$fontSerif: Georgia, Times, "Times New Roman", serif;
