<div class="search-result">
    <div class="text">
        <div class="category">
           resource page
        </div>
        <div class="title">
            <div class="title-text">
                <h2{{ title_attributes }}>
                    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                </h2>
            </div>
        </div>
        {{ content.field_featured_text }}
    </div>
</div>
